#title{
 background-color: #FE3C72;
}

.container-fluid{
    padding:3% 15%;
}

h1{
    font-family: 'Montserrat';
    line-height: 1.5;
    font-weight: 900;
    font-size: 3rem;
    color:white;
}
h2{
    font-family: 'Montserrat';
    line-height: 1.5;
    font-weight: 700;
    font-size: 3rem;
    color:black;
}
p{
    color:#8f8f8f;
}

body{
    font-family:'Montserrat';
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
    padding-left:0;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size:2.5rem;
    font-weight: bold;
    padding-left:0;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:'Montserrat';
    font-weight: 300;
}
#Phone{
    transform: rotate(20deg);
    margin-top:40px;
    width:60%;
    position: relative;
    top:20%;
    z-index: 0;

}
.download-button{
    margin:5% 3% 5% 0%
}


/* Features section */
#features{
    background-color: white;
    position:relative;
    z-index:1;
}
.features-container{
    padding:10% 15%;
    text-align: center;
}
.features-icon{
font-size:4.5rem;
margin-bottom:20px;
color:#ef8172;
}
.features-icon:hover{
    color:#ff4c68;
}
.features-title{
    text-align:center;    
    font-size:1.5rem;
    font-family: 'Montserrat';
    font-weight: 600 ;
}
.features-desc{
    text-align:center;
    color:#8f8f8f;
    padding:0 5%
}


/* Testimonials Section */
#testimonials{
    background-color: #ef8172;
    text-align:center
}
.testimonial-image{
    border-radius:50%;
    text-align:center;
    width:10%;
    margin:20px;
}
.testimonial-text{
    font-family:'Montserrat';
    font-weight:900;
    line-height:1.5;
    font-size:3rem;
    color:white;
    padding:3% 2%
}
.testimonial-name{
    color:white;
    font-family:'Montserrat';
}


/* Press Section */
#press{
    background-color:#ef8172;
    text-align:center;
    padding:0% 0% 3%;
}
.press-image{
    width:15%;
    margin:3rem;
}
.carousel-item{
    padding: 10% 15%;
}


/* Pricing Section */
#pricing{
    padding:100px;    
    text-align:center;
}
.pricing-column{
    padding:3% 2%;
}